html {
    margin: 0;
    background: #ffffff;
    font: 62.5%/1.5em "Trebuchet Ms", helvetica;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.shopper {
    text-transform: lowercase;
    font: 2em 'Shopper', sans-serif;
    line-height: 0.5em;
    display: inline-block;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

p,
label {
    font-size: 1.5em;
    color: #8a8a8a;
}

input {
    border: 0.3em solid #bbc3c6;
    padding: 0.5em 0.3em;
    font-size: 1.4em;
    color: #8a8a8a;
    text-align: center;
}

input[type=text],
input[type=number],
input[type=file],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

img {
    max-width: 9em;
    width: 100%;
    overflow: hidden;
    margin-right: 1em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: auto;
    margin-top: 10em;
}

.table {
    position: relative;
    background: #ffffff;
    border-radius: 0.6em;
    overflow: hidden;
    clear: both;
}

.layout-inline>* {
    display: inline-block;
}

.align-center {
    text-align: center;
}

.th {
    background: #248fb6;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.tf {
    background: #248fb6;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2em;
}

.tf p {
    color: #fff;
    font-weight: bold;
}

.col {
    padding: 1em;
    width: 12%;
}

.col-pro {
    width: 32%;
}

.col-pro>* {
    vertical-align: middle;
}

.col-qty {
    text-align: center;
    width: 17%;
}

.col-numeric p {
    font: bold 1.8em helvetica;
}

.col-total p {
    color: #12c8b1;
}

.tf .col {
    width: 20%;
}

.row>div {
    vertical-align: middle;
}

.row-bg2 {
    background: #f7f7f7;
}

.visibility-cart {
    position: absolute;
    color: #fff;
    top: 0.5em;
    right: 0.5em;
    font: bold 2em arial;
    border: 0.16em solid #fff;
    padding: 0 0.22em 0 0.25em;
}

.col-qty>* {
    vertical-align: middle;
}

.col-qty>input {
    max-width: 2.6em;
}

.fa {
    padding-right: 15px;
    font-size: 1.4em;
}

.btn {
    padding: 10px 30px;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    background: #43ace3;
    color: #fff;
}

.btn-sucess {
    background: #108562;
    float: left;
    margin: 0 0 1.5em 0;
}

.btn-sucess:hover {
    background: #10cc94;
}

button.operations,
button.operations.qty {
    font-size: 2.5em;
    padding: 0em;
    margin: 0.4em;
    color: #43ace3;
    background-color: Transparent;
    border: none;
}

button.operations:hover,
button.operations.qty:hover {
    color: #157baa;
}

button.operations.qty {
    padding: 0em;
}

.transition {
    transition: all 0.3s ease-in-out;
}

@media screen and ( max-width: 755px) {
    .col-pro {
        width: 35%;
    }
    .col-qty {
        width: 22%;
    }
    img {
        max-width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and ( max-width: 591px) {}

.input-number {
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.inlineGroupe {
    display: inline-block;
}


/*Product Card*/

.product-card {
    width: 380px;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #248fb6;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #248fb6;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}


/*nav bar*/

.topnav {
    position: relative;
    top: -10px;
    left: -7px;
    overflow: hidden;
    background-color: #248fb6;
}

.topnav a {
    margin: 0;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0f475c;
    color: white;
}